@tailwind base;
@tailwind components;
@tailwind utilities;

.css-hyum1k-MuiToolbar-root {
  padding-left: 0px;
  padding-right: 0px;
}

.css-1qvr50w-MuiTypography-root {
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 0.01em;
}
